& when (@media-common =true) {
  .checkout-cart-index {
    .cart-summary {
      background: @color-light-white;

      &>.title {
        font-weight: 600;
      }

      & .block .title strong[role="heading"] {
        font-weight: 400;
        font-size: 1.8rem;
      }

      & .block .actions-toolbar>.primary .action.primary {
        width: 100%;
        color: @color-light-blue;
        border-color: @color-light-blue;
        background-color: transparent;
      }
    }

    .field.note {
      color: @color-lighter-black;
    }

    .select {
      background-color: @color-white;
      border: .1rem solid @color-light-grey;
      box-sizing: border-box;
      border-radius: .4rem;
      background-position: 96% 50%;
      height: 5rem;
    }

    .input-text {
      height: 5rem;
      border-radius: .4rem;
    }

    .fieldset.coupon .actions-toolbar {
      width: 100%;
    }

    .data.table.totals {
      & th {
        font-size: 1.3rem;
        font-weight: 600;
      }

      & td {
        font-weight: 600;
      }
    }
  }
}
