.benefit{
    background-color:#F5F9FF;
    padding: 4rem 2rem 6rem 2rem;
}
.benefit__content{
    display: flex;
    gap: 7rem;
    margin: 0 auto;
width: 100%;
max-width: 1400px;
}

.benefit__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 265px;
}

.benefit__img{
    background-color: blue;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefit__text{
    text-align: center;
    margin: 0;
    opacity: .8;
}

@media only screen and (max-width: 775px) {

    .benefit{
      
        padding: 2rem;
    }
    .benefit__content{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    .benefit__img{
        height: 45px;
        width: 45px;
    }

    .benefit__img img{
        transform: scale(0.8);
    }
    
}
